<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Portfolio</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>David's Portfolio</h1>
    <h2>Day 77</h2>
    <p>Body of the page here!</p>
    <a href="{link}"><img src="static/images/{image}" width="500px" /></a>
    <script src="script.js"></script>
    <!--
      This script places a badge on your repl's full-browser view back to your repl's cover
      page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
      teal, blue, blurple, magenta, pink!
      -->
    <script
      src="https://replit.com/public/js/replit-badge.js"
      theme="blue"
      defer
    ></script>
  </body>
</html>
